*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.name-square{
    border: 1px solid blue;
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}